<%- include('layouts/header.ejs') %>
<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <link rel="stylesheet" href="css/navbar.css">
  <title><%= __('forgot_pass')%></title>
</head>
<body>
  <h1><%= __('forgot_pass')%></h1>

  <% if (message) { %>
    <p style="color: red;"><%= message %></p>
  <% } %>

  <form action="/forgotPassword" method="POST">
    <input type="email" name="email" placeholder="Enter your email" required />
    <br /><br />
    <input type="submit"/>
  </form>
</body>
</html>
