<%- include('layouts/header.ejs') %>

<div class="container-fluid">
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-md-4 sidebar">
            <h2 class="mb-4">Hi, <%= user.name %></h2>

            <% if (friendRequests.length > 0) { %>
                <h3>Friend Requests</h3>
                <ul class="list-group mb-4">
                    <% for(let i = 0; i < friendRequests.length; i++) { %>
                        <li class="list-group-item user-list" data-id="<%= friendRequests[i]._id %>">
                            <img src="data:image/jpeg;base64,<%= friendRequests[i].image %>" alt="User image" class="user-image" />
                            <%= friendRequests[i].name %>
                            <form action="/accept-request/<%= friendRequests[i]._id %>" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                            <form action="/decline-request/<%= friendRequests[i]._id %>" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Decline</button>
                            </form>
                        </li>
                    <% } %>
                </ul>
            <% } %>

            <% if (friends.length > 0) { %>
                <h3>Friends</h3>
                <ul class="list-group">
                    <% for(let i = 0; i < friends.length; i++) { %>
                        <li class="list-group-item user-list cursor-pointer" data-id="<%= friends[i]._id %>">
                            <img src="data:image/jpeg;base64,<%= friends[i].image %>" alt="User image" class="user-image" />
                            <%= friends[i].name %>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <h4>You have no friends</h4>
            <% } %>
        </div>

        <!-- Chat Window -->
        <div class="col-md-8 chat-window">
            <h3 class="start-head">Click to start the chat</h3>
            <div class="chat-section">
                <div id="chat-container"></div>
                <form id="chat-form">
                    <input type="hidden" id="sender-id" value="<%= user._id %>" />
                    <input type="text" name="message" placeholder="Enter Message" id="message" required />
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/chat.js"></script>

<%- include('layouts/footer.ejs') %>
