<%- include('layouts/header.ejs') %>

<h2 class="mb-4">Hii, <%= user.name %></h2>

<% if (friendRequests.lenght > 0) {%>
<h1>friend requests to you</h1>
<div class="col-md-4">
    <ul class="list-group">
      <% if (friendRequests.length > 0) { for(let i = 0; i < friendRequests.length; i++){ %>
      <li
        class="list-group-item list-group-item-dark cursor-pointer user-list"
        data-id="<%= friendRequests[i]['_id'] %>"
      >
        <img
          src="<%= 'http://localhost:4000/'+friendRequests[i]['image'] %>"
          alt=""
          width="50px"
          height="50px"
          alt=""
          width="100px"
          height="100px"
        />
        <%= friendRequests[i]['name'] %> <% if (friendRequests[i]['is_online'] == 1) { %>
        <sup class="online-status" id="<%= friendRequests[i]['_id'] %>-status"
          >Online</sup
        >
        <% } else { %>
        <sup class="offline-status" id="<%= friendRequests[i]['_id'] %>-status"
          >Offline</sup
        >
        <% } %>
      </li>
      <% } } %>
    </ul>
  </div>


<% } %>
<h1>your friends</h1>

<% if (friends.lenght > 0) { %>
    <%- include('layouts/chat.ejs') %>

<% }else{ %>
    <h4> you have no friends </h4>
<% } %>

<%- include('layouts/chat.ejs') %>


<%- include('layouts/footer.ejs') %>
