<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('Musician Collaboration Platform') %></title>
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
<%- include('layouts/header.ejs') %>
<section class="section1">
    <div class="content1">
        <h2><%= __('home1') %></h2>
        <h2><%= __('home2') %></h2>
        <h2><%= __('home3') %></h2>
        <p><%= __('home4_opisanie') %></p>
        <% if (!isAuthenticated) { %>
        <a href="/login">
            <button class="button"><%= __('signbutton') %></button>
        </a>
        <% } %>
    </div>
</section>
<section class="section2">
    <div class="content2">
        <h2><%= __('about_our_platform') %></h2>
        <p><%= __('platform_description1') %></p>
        <p><%= __('platform_description2') %></p>
        <img width="50%" src="https://www.theaudiostore.in/cdn/shop/articles/Why_Does_Music_Sound_Better_at_Night_Exploring_the_Science_behind_the_Phenomenon.png?v=1681157018&width=1200" alt="<%= __('Изображение') %>">
    </div>
</section>
<section class="section3 full-height">
    <div class="content">
        <div class="left">
            <img src="../images/firstphoto.jpg" alt="<%= __('Изображение') %>">
        </div>
        <div class="right">
            <h4><%= __('unleash_potential') %></h4>
            <p><%= __('tag_based_search') %></p>
            <p><%= __('collaboration_click_away') %></p>
        </div>
    </div>
    <div class="content">
        <div class="left">
            <h4><%= __('your_voice_amplified') %></h4>
            <p><%= __('share_journey') %></p>
            <p><%= __('engage_community') %></p>
        </div>
        <div class="right">
            <img class="birbale" src="../images/zagr.png" alt="<%= __('Изображение') %>">
        </div>
    </div>
</section>
<section class="section4">
    <div class="contact4">
        <div class="info4">
            <img src="../images/adress.jpg" alt="<%= __('Address Icon') %>" class="icon">
            <h4><%= __('address') %></h4>
            <p><%= __('mangilik_el') %></p>
        </div>
        <div class="info4">
            <img src="../images/email.jpg" alt="<%= __('Email Icon') %>" class="icon">
            <h4><%= __('email') %></h4>
            <p><a href="mailto:info@musiciansAITU.com"><%= __('contact_email') %></a></p>
        </div>
        <div class="info4">
            <img src="../images/phone.jpg" alt="<%= __('Phone Icon') %>" class="icon">
            <h4><%= __('phone') %></h4>
            <p><%= __('contact_phone') %></p>
        </div>
    </div>
    <div class="social4">
        <a href="https://www.instagram.com" target="_blank">
            <img src="../images/instagram.jpg" alt="Instagram">
        </a>
        <a href="https://www.facebook.com" target="_blank">
            <img src="../images/facebook.jpg" alt="Facebook">
        </a>
        <a href="https://www.youtube.com" target="_blank">
            <img src="../images/youtube.jpg" alt="YouTube">
        </a>
    </div>
</section>
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">&copy; Talgat, Aikerim, Dias</div>
</footer>
</body>
</html>
