  <%- include('layouts/header.ejs') %>
  <head>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post.css">
  </head>

  <body>
    <div class="post-container">
      <div class="post">
        <div class="post-content">
          <h2 class="post-title"><%= post.title %></h2>
        </div>
        <div class="post-content-image">
          <img src="data:image/jpeg;base64,<%= post.image %>" alt="Post image">
        </div>
        <div class="post-content">
          <p class="post-body"><%= post.content %></p>
        </div>
      </div>
      <div class="comments">
        <% comments.forEach(comment => { %>
          <% if (comment.user_id) { %>
            <div class="comment">
              <div class="comment-left">
                <a href="/profile/<%= comment.user_id._id %>">
                  <img class="post-avatar" src="data:image/jpeg;base64, <%= comment.user_id.image %>" alt="<%= comment.user_id.name %>'s profile image">
                  <p class="user-profile-comment"><%= comment.user_id.name %></p>
                </a>
              </div>
              <div class="comment-right">
                <p><%= comment.content %></p>
                <% if (user && (user._id.toString() === comment.user_id._id.toString() || user.role == "admin")) { %>
                  <form action="/post/<%=post._id%>/delete-comment/<%= comment._id %>" method="POST">
                    <button class="delete-button" type="submit">Delete</button>
                  </form>
                <% } %>
              </div>
            </div>
          <% } %>
        <% }) %>
        

      </div>
      
      <div class="comment-form">
        <h2>Write a comment</h2>
        <form action="/post/<%= post._id %>/add-comment" method="POST">
          <textarea name="text" placeholder="Write your comment here" required></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>