<head> 
  <link rel="stylesheet" href="/css/navbar.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head> 
<%- include('layouts/header.ejs') %>

<h1>User Profile</h1>

<p><strong>Name:</strong> <%= profUser.name %></p>
<p><strong>Email:</strong> <%= profUser.email %></p>

<h2>Profile Image</h2>
  <img
    src="data:jpeg;base64,<%= profUser.image %>"
    alt="User image"
    width="150px"
    height="150px"
  />

<% if (status == "you") { %>
<form action="/profile" method="post" enctype="multipart/form-data">
  <label for="image">Обновить изображение профиля:</label>
  <input type="file" name="image" id="image" accept="image/*" required />
  <button type="submit">Загрузить</button>
</form>
<% } %>

<h2>Audio:</h2>
  <ul>
    <% profUser.music.forEach(function(music, index) { %>
    <li>
      <audio controls>
        <source src="data:audio/mp3;base64,<%= music %>" type="audio/mp3" />
        Your browser does not support the audio element.
      </audio>
      <% if (status == "you") { %>
        <form
          action="/delete-music/<%= profUser._id %>/<%= index %>"
          method="post"
          style="display: inline">
          <button type="submit">Удалить</button>
        </form>
      <% } %>
    </li>
    <% }) %>
  </ul>

<% if (status == "you") { %>
  <h2>Загрузить музыку:</h2>
  <form action="/upload-music" method="post" enctype="multipart/form-data">
    <label for="music">Загрузить музыку:</label>
    <input type="file" name="music" id="music" accept="audio/*" required />
    <button type="submit">Загрузить</button>
  </form>
<% } %>

<h2>Musical instruments:</h2>
<p><%= profUser.instruments.map(instrument => instrument.name).join(', ') %></p>
<p><%= profUser.positions.map(position => position.name).join(', ') %></p>
<p><%= profUser.genres.map(genre => genre.name).join(', ') %></p>
<p><%= profUser.languages.map(language => language.name).join(', ') %></p>

<%if (status == "friend-request") {%>
  <p style="color: blue">friend request already sent</p>
<%} else if (status == "friend"){%>
  <p style="color: greenyellow">User is your friend</p>
<%} else if (status == "user") {%>
  <form action="/friend-request/<%= profUser._id %>" method="post">
    <button type="submit">Send request</button>
  </form>
<%} else if (status == "you") {%>
<form id="profile-form" action="/updateUserProfile" method="POST">
  <h5>Instruments</h5>
    <select
      class="select-class"
      name="instruments"
      multiple="multiple"
      style="width: 300px"
    >
      <% allInstruments.forEach(instrument => { %>
        <option
          value="<%= instrument.name %>"
          <%if (profUser.instruments.some(instrumentRef => instrumentRef.name === instrument.name)) { %>
            selected 
          <% } %> 
        > 
          <%= instrument.name %>
        </option>
      <% }) %>
    </select>
  
  <h5>Positions</h5>
    <select
      class="select-class"
      name="positions"
      multiple="multiple"
      style="width: 300px"
    >
      <% allPositions.forEach(position => { %>
        <option
          value="<%= position.name %>"
          <%if (profUser.positions.some(positionRef => positionRef.name === position.name)) { %>
            selected 
          <% } %> 
        > 
          <%= position.name %>
        </option>
      <% }) %>
    </select>

    <h5>Genres</h5>
    <select
      class="select-class"
      name="genres"
      multiple="multiple"
      style="width: 300px"
    >
      <% allGenres.forEach(genre => { %>
        <option
          value="<%= genre.name %>"
          <% if (profUser.genres.some(genreRef => genreRef.name === genre.name)) { %>
            selected 
          <% } %> 
        > 
          <%= genre.name %>
        </option>
      <% }) %>
    </select>

    <h5>Languages</h5>
    <select
      class="select-class"
      name="languages"
      multiple="multiple"
      style="width: 300px"
    >
      <% allLanguages.forEach(language => { %>
        <option
          value="<%= language.name %>"
          <%if (profUser.languages.some(languageRef => languageRef.name === language.name)) { %>
            selected 
          <% } %> 
        > 
          <%= language.name %>
        </option>
      <% }) %>
    </select>
  <button class="save-button" type="submit" style="display: none">Save Changes</button>
    <!-- Edit button -->
</form>
<%}%>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/js/profile.js"></script>
