<%- include('layouts/header.ejs') %>
<head> 
  <link rel="stylesheet" href="/css/navbar.css">
</head> 
<h2 class="mb-4">Hii, <%= user.name %></h2>

<div class="col-md-4">
  <ul class="list-group">
    <% if (users.length > 0) { %> 
    <%for(let i = 0; i < users.length; i++){ %>
      <li
        class="list-group-item list-group-item-dark cursor-pointer user-list"
        data-id="<%= users[i]['_id'] %>"
      >
        <img
          src="data:jpeg;base64,<%= users[i]['image'] %>"
          alt="User image"
          width="150px"
          height="150px"
        />
        <%= users[i]['name'] %> <% if (users[i]['is_online'] == 1) { %>
        <sup class="online-status" id="<%= users[i]['_id'] %>-status"
          >Online</sup
        >
        <% } else { %>
        <sup class="offline-status" id="<%= users[i]['_id'] %>-status"
          >Offline</sup
        >
        <% } %>
        <a href="/profile/<%=users[i]['_id'] %>"> open profile </a>
        
      </li>
    <% } } %>
  </ul>
</div>
  

<%- include('layouts/footer.ejs') %>
